<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Select Class</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="common-bg">
  <ion-card class="full-width" no-margin margin-bottom *ngFor="let class of allClasses">
    <!-- <ion-card-content>
      <ion-item>
        <ion-label class="text-1x bold">Select Class</ion-label>
        <ion-select [(ngModel)]="classselect" (ionChange)="getClass(classselect)">
          <ion-option *ngFor="let class of allClasses" [value]="class">{{ class.name }}</ion-option>
        </ion-select>
      </ion-item>
    </ion-card-content> -->
    <ion-item>
      <ion-label class="text-1x bold" (click)="getClass(class)" tappable>{{class.name}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
